html{
    font-size: 10px;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f1faee;
    color: #1d3557;
}
p{
    font-size: 1.6rem;
}
small{
    font-size: 1.2rem;
}
#movie_search_bar .form{
        display: grid;
}
#movie_search_bar .label{
    font-size: 2rem;
    text-align: center;
    /*margin-top: 0.5rem;*/

}
#movie_search_bar .input{
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0.5rem 2rem ;
    border-radius: 20px;
    border: 1px solid #ddd;
}
#movie_search_bar .btn{
    border-radius: 20px;
    font-size: 1.4rem;
    padding: 0.5rem 2rem ;
    margin-bottom: 3rem ;
}
.card{
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.25) ;
    margin-bottom: 2rem;
}

.card .card-img-top{
    object-fit: contain;
    max-width: 100%;
    height: 40vh;

}
.card .movie-card-title{
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
}
